
@{
    ViewBag.Title = "Fan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model CyberLlamaConsumerSite.CRUDService.cFan

<img class="centerImage" Style="margin-top:4%;max-width: 100px;margin-top:20px" src="~/Images/llama.png" />
<h1 class="centerText" style="margin:10px 0px 40px 0px">Add a Fan</h1>
<hr color="white" />

@using (Html.BeginForm("addFan", "AddNewProduct", FormMethod.Post))
{
    <div class="form-Input centerImage">
        <label>Model:</label>
        @Html.TextBoxFor(m => m.model)
    </div>
    <div class="form-Input centerImage">
        <label>Brand:</label>
        @Html.TextBoxFor(m => m.brand)
    </div>
    <div class="form-Input centerImage">
        <label>Series:</label>
        @Html.TextBoxFor(m => m.series)
    </div>
    <div class="form-Input centerImage">
        <label>Size:</label>
        @Html.TextBoxFor(m => m.size)
    </div>

    <div class="form-Input centerImage">
        <label>RPM:</label>
        @Html.TextBoxFor(m => m.rpm)
    </div>
    <div class="form-Input centerImage">
        <label>max air flow:</label>
        @Html.TextBoxFor(m => m.max_air_flow)
    </div>
    <div class="form-Input centerImage">
        <label>Noise:</label>
        @Html.TextBoxFor(m => m.noise)
    </div>
    <div class="form-Input centerImage">
        <label>Static Pressure:</label>
        @Html.TextBoxFor(m => m.static_pressure)
    </div>
    <div class="form-Input centerImage">
        <label>Input voltage:</label>
        @Html.TextBoxFor(m => m.input_voltage)
    </div>
    <div class="form-Input centerImage">
        <label>MTBF:</label>
        @Html.TextBoxFor(m => m.mtbf)
    </div>
    <div class="form-Input centerImage">
        <label>Cable length:</label>
        @Html.TextBoxFor(m => m.cable_length)
    </div>
    <div class="form-Input centerImage">
        <label>Number of fans:</label>
        @Html.TextBoxFor(m => m.num_fans)
    </div>
    <div class="form-Input centerImage">
        <label>warranty:</label>
        @Html.TextBoxFor(m => m.warranty)
    </div>

    <div class="form-Input centerImage">
        <label>Active:</label>
        @Html.TextBoxFor(m => m.active)
    </div>
    <div class="form-Input centerImage">
        <label>Price:</label>
        @Html.TextBoxFor(m => m.price)
    </div>
    <div class="form-Input centerImage">
        <label>Image Link:</label>
        <input name="image" id="image" />
    </div>
    <p color="red" style="text-align:center">@ViewBag.status</p>
    <div class="form-Input centerImage login">
        <input type="submit" value="Add Fan" />
    </div>
}

