@{
    ViewBag.Title = "Keyboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model CyberLlamaConsumerSite.CRUDService.cKeyboard

<h1 class="centerText" style="margin:10px 0px 10px 0px">Add a Keyboard </h1>


@using (Html.BeginForm("addKeyboard", "AddNewProduct", FormMethod.Post))
{

    <div class="row">
        <div class="col-md-6 smallMargin-top">
            <div class="borderedAddEditElement ">
                <h4 class="centerText addEditFormTitle">Important</h4>
                <div class="form-Input"  style="margin-top:30px">
                    <label>Model:</label>
                    @Html.TextBoxFor(m => m.model)
                </div>
                <div class="form-Input ">
                    <label>Brand:</label>
                    @Html.TextBoxFor(m => m.brand)
                </div>
                <div class="form-Input ">
                    <label>Series:</label>
                    @Html.TextBoxFor(m => m.series)
                </div>
                <div class="form-Input ">
                    <label>Switches:</label>
                    @Html.TextBoxFor(m => m.switches)
                </div>
                <div class="form-Input ">
                    <label>warranty:</label>
                    @Html.TextBoxFor(m => m.warranty)
                </div>

                <div class="form-Input ">
                    <label>Active:</label>
                    @Html.TextBoxFor(m => m.active)
                </div>
                <div class="form-Input ">
                    <label>Price:</label>
                    @Html.TextBoxFor(m => m.price)
                </div>
                <div class="form-Input ">
                    <label>Image Link:</label>
                    <input name="image" id="image" />
                </div>
            </div>
        </div>
        <div class="col-md-6 smallMargin-top">
            <div class="borderedAddEditElement ">
                <h4 class="centerText addEditFormTitle">Additional</h4>
                <div class="form-Input" style="margin-top:30px">
                    <label>Programmable Macros:</label>
                    @Html.TextBoxFor(m => m.programmable_macros)
                </div>
                <div class="form-Input ">
                    <label> Connector:</label>
                    @Html.TextBoxFor(m => m.connector)
                </div>
                <div class="form-Input ">
                    <label>LED backlight:</label>
                    @Html.TextBoxFor(m => m.led_backlight)
                </div>
                <div class="form-Input ">
                    <label>MultiMedia Keys:</label>
                    @Html.TextBoxFor(m => m.multimedia_keys)
                </div>
                <div class="form-Input ">
                    <label>Material:</label>
                    @Html.TextBoxFor(m => m.material)
                </div>
                <div class="form-Input ">
                    <label>Dimension:</label>
                    @Html.TextBoxFor(m => m.dimensions)
                </div>
                <div class="form-Input ">
                    <label>Weight:</label>
                    @Html.TextBoxFor(m => m.weight)
                </div>
            </div>
        </div>
    </div>

    <p color="red" style="text-align:center">@ViewBag.status</p>
    <div class="form-Input">
        <input class="AddEditButton centerImage" type="submit" value="Add Keyboard" />
    </div>
}

