
@{
    ViewBag.Title = "Microphone";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model CyberLlamaConsumerSite.CRUDService.cMicrophone


<h1 class="centerText" style="margin:10px 0px 10px 0px">Add Microphone</h1>


@using (Html.BeginForm("addMicrophone", "AddNewProduct", FormMethod.Post))
{

    <div class="row">
        <div class="col-md-6 smallMargin-top">
            <div class="borderedAddEditElement ">
                <h4 class="centerText addEditFormTitle" >Important</h4>
                <div class="form-Input " style="margin-top:30px">
                    <label>Model:</label>
                    @Html.TextBoxFor(m => m.model)
                </div>
                <div class="form-Input ">
                    <label>Brand:</label>
                    @Html.TextBoxFor(m => m.brand)
                </div>
                <div class="form-Input ">
                    <label>Series:</label>
                    @Html.TextBoxFor(m => m.series)
                </div>
                <div class="form-Input ">
                    <label>warranty:</label>
                    @Html.TextBoxFor(m => m.warranty)
                </div>

                <div class="form-Input ">
                    <label>Active:</label>
                    @Html.TextBoxFor(m => m.active)
                </div>
                <div class="form-Input ">
                    <label>Price:</label>
                    @Html.TextBoxFor(m => m.price)
                </div>
                <div class="form-Input ">
                    <label>Image Link:</label>
                    <input name="image" id="image" />
                </div>
            </div>
        </div>
        <div class="col-md-6 smallMargin-top">
            <div class="borderedAddEditElement ">
                <h4 class="centerText addEditFormTitle">Additional</h4>
                <div class="form-Input " style="margin-top:30px">
                    <label>Puck Up Pattern :</label>
                    @Html.TextBoxFor(m => m.pick_up_pattern)
                </div>

                <div class="form-Input ">
                    <label>Frequency Response:</label>
                    @Html.TextBoxFor(m => m.frequency_response)
                </div>
                <div class="form-Input ">
                    <label>Sensitivity:</label>
                    @Html.TextBoxFor(m => m.sensitivity)
                </div>
                <div class="form-Input ">
                    <label>Cable length:</label>
                    @Html.TextBoxFor(m => m.cable_length)
                </div>
            </div>
        </div>
    </div>

    <p color="red" style="text-align:center">@ViewBag.status</p>
    <div class="form-Input ">
        <input class="AddEditButton centerImage" type="submit" value="Add Microphone" />
    </div>
}

