
@{
    ViewBag.Title = "RAM";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model CyberLlamaConsumerSite.CRUDService.cRAM

<img class="centerImage" Style="margin-top:4%;max-width: 100px;margin-top:20px" src="~/Images/llama.png" />
<h1 class="centerText" style="margin:10px 0px 40px 0px">Add RAM</h1>
<hr color="white" />

@using (Html.BeginForm("addRAM", "AddNewProduct", FormMethod.Post))
{
    <div class="form-Input centerImage">
        <label>Model:</label>
        @Html.TextBoxFor(m => m.model)
    </div>
    <div class="form-Input centerImage">
        <label>Brand:</label>
        @Html.TextBoxFor(m => m.brand)
    </div>
    <div class="form-Input centerImage">
        <label>Series:</label>
        @Html.TextBoxFor(m => m.series)
    </div>
    <div class="form-Input centerImage">
        <label>capacity:</label>
        @Html.TextBoxFor(m => m.capacity)
    </div>

    <div class="form-Input centerImage">
        <label>Type:</label>
        @Html.TextBoxFor(m => m.type)
    </div>
    <div class="form-Input centerImage">
        <label>speed:</label>
        @Html.TextBoxFor(m => m.speed)
    </div>
    <div class="form-Input centerImage">
        <label>latency:</label>
        @Html.TextBoxFor(m => m.latency)
    </div>
    <div class="form-Input centerImage">
        <label>voltage:</label>
        @Html.TextBoxFor(m => m.voltage)
    </div>
    <div class="form-Input centerImage">
        <label>channel config:</label>
        @Html.TextBoxFor(m => m.channel_config)
    </div>
    <div class="form-Input centerImage">
        <label>height:</label>
        @Html.TextBoxFor(m => m.height)
    </div>
    <div class="form-Input centerImage">
        <label>warranty:</label>
        @Html.TextBoxFor(m => m.warranty)
    </div>

    <div class="form-Input centerImage">
        <label>Active:</label>
        @Html.TextBoxFor(m => m.active)
    </div>
    <div class="form-Input centerImage">
        <label>Price:</label>
        @Html.TextBoxFor(m => m.price)
    </div>
    <div class="form-Input centerImage">
        <label>Image Link:</label>
        <input name="image" id="image" />
    </div>
    <p color="red" style="text-align:center">@ViewBag.status</p>
    <div class="form-Input centerImage login">
        <input type="submit" value="addGpu" />
    </div>
}

