
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<CyberLlamaConsumerSite.Models.Cart>
<img class="centerImage" Style="margin-top:4%;max-width: 100px;margin-top:20px" src="~/Images/llama.png" />
<h1 class="centerText" style="margin:10px 0px 40px 0px">Checkout</h1>
<hr color="white" />
<div style="display:grid;">

</div>
@using (Html.BeginForm("Checkout", "Checkout", FormMethod.Post))
{
    <div style="display:grid;grid-column-gap: 10px; grid-row-gap: 10px;">
        <div style="grid-column-start: 1;grid-column-end: 2;grid-row-start: 1;grid-row-end: 2;width: 100px; height: 40px;margin: 0 auto;color:white;"><b>Image</b></div>
        <div style="grid-column-start: 2;grid-column-end: 3;grid-row-start: 1;grid-row-end: 2;width: 100px; height: 40px;margin: 0 auto;color:white;"><b>Description</b></div>
        <div style="grid-column-start: 3;grid-column-end: 4;grid-row-start: 1;grid-row-end: 2;width: 100px;height: 40px;margin: 0 auto;color:white;"><b>Unit Price</b></div>
        <div style="grid-column-start: 4;grid-column-end: 5;grid-row-start: 1;grid-row-end: 2;width: 100px;height: 40px;margin: 0 auto;color:white;"><b>Quantity</b></div>
        <div style="grid-column-start: 5;grid-column-end: 6;grid-row-start: 1;grid-row-end: 2;width: 100px;height: 40px;margin: 0 auto;color:white;"><b>Remove</b></div>

        @{decimal total = 0; }
        @for (int i = 0; i < Model.Count; i++)
        {

            @Html.HiddenFor(m => m[i].ProductID)
            <div style="grid-column-start: 1;grid-column-end: 2;grid-row-start: @(i + 2);grid-row-end: @(i + 3);width: 100px;height: 100px;margin: 0 auto;"><img style="max-height:80px;" src=@Url.Content(Model[i].ImageLink)></div>
            @Html.HiddenFor(m => m[i].ImageLink)
            <div style="grid-column-start: 2;grid-column-end: 3;grid-row-start: @(i + 2);grid-row-end: @(i + 3);width: 100px;height: 100px;margin: 0 auto;">@Model[i].Name</div>
            @Html.HiddenFor(m => m[i].Name)
            <div style="grid-column-start: 3;grid-column-end: 4;grid-row-start: @(i + 2);grid-row-end: @(i + 3);width: 100px;height: 100px;margin: 0 auto;">R @Math.Round(Model[i].Price, 2)</div>
            @Html.HiddenFor(m => m[i].Price)
            <div style="grid-column-start: 4;grid-column-end: 5;grid-row-start: @(i + 2);grid-row-end: @(i + 3);width: 100px;height: 100px;margin: 0 auto;">
                @Html.DropDownListFor(m => m[i].Quantity, new SelectList(new[] {1, 2, 3, 4, 5, 6, 7, 8, 9, 10 }),Convert.ToString(Model[i].Quantity))
            </div>

            <div style="grid-column-start: 5;grid-column-end: 6;grid-row-start: @(i + 2);grid-row-end: @(i + 3);width: 100px;height: 100px;margin: 0 auto;"><a href=@Url.Action("RemoveFromCart", new { item = @Model[i].ProductID })><img src="~/Images/cross-icon.png" style="max-width:30px;" /></a></div>
            total += Model[i].Price*(Model[i].Quantity);
        }
    </div>
    <hr color="white" />

    <h2>Cart Summary</h2>
    <p>Total: R @Math.Round(total, 2)</p>
    <input type="submit" value="Proceed to checkout" />
}
<!--needed -> an array of cart containing (product id, name, image link, price, quantity)-->
