<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - CyberLlama</title>
    <!--Add all the script bundles-->
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</head>
<body style="background-color:#1f1e1f; padding-top:0px; color:#bfbfbf;">
    <!--JumboTron is the large banner at the top-->
    <div class="jumbotron" style="margin-bottom:0px; padding: 2%">
        <a class="navbar-brand" href=@Url.Action("Index", "Home")><img width="80" image height="120" src="~/Images/llama.png" /> </a>
        <h1 style="font-size:400%; max-width:400px; display:inline;">CyberLlama<br></h1>
    </div>
    <!--create the navbar and use dark theme, check bg-dark and navbar-dark to change properties in site.css-->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top" style="padding-top: 0px;padding-bottom: 0px;">
        <!--create the hamber button for smaller screens-->
        <button class="navbar-toggler" data-toggle="collapse" data-target="#collapse_target">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!--Add the Navbar items as a list
            -Each Iten gets the class nav-item
            -and the link uses nav-link class
            -use dropdown for dropdown elements
            -Note: data-target must be same as aria-target items
            -->
        <div class="collapse navbar-collapse" id="collapse_target">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href=@Url.Action("Index", "Home")><img src="~/Images/homeIcon.png" class="MenuIcon" /></a>
                    <a class="nav-link" href=@Url.Action("Index", "Home")>
                        HOME
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#"><img src="~/Images/buildIcon.png" class="MenuIcon" /></a>
                    <a class="nav-link" href=@Url.Action("Index", "PcBuild")>
                        BUILD PC
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a href="#"><img src="~/Images/ComponentsIcon.png" class="MenuIcon" /></a>
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" data-target="dropdown_Components" href="#">
                        COMPONENTS
                        <span class="caret"></span>
                    </a>
                    <!--maybe use a for loop if possible and pass data from the database for this bit-->
                    <div class="dropdown-menu" aria-labelledby="dropdown_Components">
                        <a class="dropdown-item" href=@Url.Action("Index", "ProductPage", new { id = "GPU" })>Graphics card</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href=@Url.Action("Index", "ProductPage", new { id = "Motherboard" })>Motherboards</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href=@Url.Action("Index", "ProductPage", new { id = "RAM" })>Memory (RAM)</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href=@Url.Action("Index", "ProductPage", new { id = "CPU" })>CPU's</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href=@Url.Action("Index", "ProductPage", new { id = "AirCooler" })>Air Coolers</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href=@Url.Action("Index", "ProductPage", new { id = "LiquidCooler" })>Liquid Coolers</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href=@Url.Action("Index", "ProductPage", new { id = "SSD" })>SSD's</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href=@Url.Action("Index", "ProductPage", new { id = "HDD" })>Hard Drives</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href=@Url.Action("Index", "ProductPage", new { id = "Case" })>PC Chassis</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href=@Url.Action("Index", "ProductPage", new { id = "PSU" })>Power Supplies</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href=@Url.Action("Index", "ProductPage", new { id = "Fan" })>Case Fans</a>

                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a href="#"><img src="~/Images/mouse_icon.png" class="MenuIcon" /></a>
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" data-target="dropdown_Components" href="#">
                        Peripherals
                        <span class="caret"></span>
                    </a>
                    <!--maybe use a for loop if possible and pass data from the database for this bit-->
                    <div class="dropdown-menu" aria-labelledby="dropdown_Components">
                        <a class="dropdown-item" href=@Url.Action("Index", "ProductPage", new { id = "Keyboard" })>Keyboards</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href=@Url.Action("Index", "ProductPage", new { id = "Mouse" })>Mice</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href=@Url.Action("Index", "ProductPage", new { id = "Mousepad" })>Mouse Pads</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href=@Url.Action("Index", "ProductPage", new { id = "Headset" })>Headsets</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href=@Url.Action("Index", "ProductPage", new { id = "Speaker" })>Speakers</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href=@Url.Action("Index", "ProductPage", new { id = "Microphone" })>Microphones</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href=@Url.Action("Index", "ProductPage", new { id = "Monitor" })>Monitors</a>
                    </div>
                </li>


                <li class="nav-item dropdown">
                    <a href="#"><img src="~/Images/computerIcon.png" class="MenuIcon" /></a>
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" data-target="dropdown_desktop" href="#">
                        DESKTOP PCs
                        <span class="caret"></span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdown_desktop">
                        <a class="dropdown-item" href=@Url.Action("Index", "PcInfo", new { id = "Gaming" })>Gaming PC's</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href=@Url.Action("Index", "PcInfo", new { id = "Business" })>Business PC's</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href=@Url.Action("Index", "PcInfo", new { id = "Home" })>Home PC's</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href=@Url.Action("Index", "PcInfo", new { id = "Workstation" })>Workstations</a>
                        <div class="dropdown-divider"></div>
                    </div>
                </li>

                <li class="nav-item">
                    <a href=@Url.Action("Index", "Checkout")><img src="~/Images/CartIcon.png" class="MenuIcon" /></a>
                    <a class="nav-link" href=@Url.Action("Index", "Checkout")>
                        Cart
                    </a>
                </li>

                @{if (Session["UserID"] != null)
                    {
            <li class="nav-item">
                <a href=@Url.Action("Index", "Invoice")><img src="~/Images/Invoice_Icon.png" class="MenuIcon" /></a>
                <a class="nav-link" href=@Url.Action("Index", "Checkout")>
                    Invoices
                </a>
            </li>
}
                }

                <li class="nav-item">
                    <a href=@Url.Action("Index", "About")><img src="~/Images/aboutIcon.png" class="MenuIcon" /></a>
                    <a class="nav-link" href=@Url.Action("Index", "About")>
                        ABOUT
                    </a>
                </li>
                <li class="nav-item">
                    <a href=@Url.Action("Index", "Contact")><img src="~/Images/contactIcon.png" class="MenuIcon" /></a>
                    <a class="nav-link" href=@Url.Action("Index", "Contact")>
                        CONTACT
                    </a>
                </li>
                <li class="nav-item">
                    <a href=@Url.Action("Index", "FAQs")><img src="~/Images/faqIcon.png" class="MenuIcon" /></a>
                    <a class="nav-link" href=@Url.Action("Index", "FAQs")>
                        FAQ's
                    </a>
                </li>


                @{if (Session["UserID"] == null)
                    {
                        <li class="nav-item">
                            <a href=@Url.Action("Index", "Register")><img src="~/Images/RegisterIcon.png" class="MenuIcon" /></a>
                            <a class="nav-link" href=@Url.Action("Index", "Register")>
                                Register
                            </a>
                        </li>
                    }
                }

                @{if (Session["UserID"] != null)
                    {
                        <li class="nav-item">
                            <a href=@Url.Action("Index", "Profile")><img src="~/Images/ProfileIcon.png" class="MenuIcon" /></a>
                            <a class="nav-link" href=@Url.Action("Index", "Profile")>
                                Profile
                            </a>
                        </li>
                    }
                }



            @{ if (Session["UserID"] != null)
    {
        var id = Convert.ToInt32(Session["UserType"]);
        if (id < 7)
        {
            <li class="nav-item dropdown">
                <a href="#"><img src="~/Images/employeeIcon.png" class="MenuIcon" /></a>
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" data-target="dropdown_laptop" href="#">
                    Employee
                    <span class="caret"></span>
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdown_desktop">
                    @if (id < 7)
        {
            <a class="dropdown-item" href="#">Employee</a>
            <div class="dropdown-divider"></div>
}

                    @if (id == 5 || id < 2)
        {
            <a class="dropdown-item" href="#" )>Finance</a>
            <div class="dropdown-divider"></div>
}

                    @if (id == 4 || id < 2)
        {
            <a class="dropdown-item" href="#">Delivery</a>
            <div class="dropdown-divider"></div>
}

                    @if (id == 3 || id < 2)
        {
            <a class="dropdown-item" href="#">Sales</a>
            <div class="dropdown-divider"></div>
}

                    @if (id <= 2)
        {
            <a class="dropdown-item">Administration</a>
            <div class="dropdown-divider"></div>
}

                    @if (id == 1)
        {
            <a class="dropdown-item" href=@Url.Action("Index", "Management")>Management</a>
            <div class="dropdown-divider"></div>
}

                </div>
            </li>
}
            <li class="nav-item">
                <a href="#"><img src="~/Images/LoginIcon.png" class="MenuIcon" /></a>
                <a class="nav-link" href=@Url.Action("Index", "Logout")>
                    Logout
                </a>
                @if (id == 1)
    {
            <a class="nav-link" href=@Url.Action("Index", "AddUser")>
                Register
            </a>
}
            </li>
}
else
{
            <!--<li class="nav-item">
    <a href="#"><img src="~/Images/LoginIcon.png" class="MenuIcon" /></a>
    <a class="nav-link" href=@Url.Action("Index", "Login")>
        Login
    </a>
</li>   -->

            <li class="nav-item">
                <a href=@Url.Action("Index", "Login")><img src="~/Images/LoginIcon.png" class="MenuIcon" /></a>
                <a class="nav-link" href=@Url.Action("Index", "Login")>
                    Login
                </a>

            </li>
}
            }
            </ul>
        </div>
    </nav>
    <!--The footer must contain a link to the t and c page and maybe some more links-->
    
    <div class="container body-content">
        @RenderBody()
        <hr color="white" />
        <footer>

            <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top nav-bottom" style="padding-top: 0px;padding-bottom: 0px;">
                <!--create the hamber button for smaller screens-->
                <button class="navbar-toggler" data-toggle="collapse" data-target="#collapse_foot">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="collapse_foot">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="https://www.instagram.com/neo.mulaudzi/" target="_blank"><img src="~/Images/insta.png" class="MenuIcon" /></a>
                            <a class="nav-link" href="https://www.instagram.com/neo.mulaudzi/" target="_blank">
                                Instagram
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="https://www.youtube.com/channel/UC-7APxNmLIVU4I-pjG3QvxQ" target="_blank"><img src="~/Images/youtube.png" class="MenuIcon" /></a>
                            <a class="nav-link" href="https://www.youtube.com/channel/UC-7APxNmLIVU4I-pjG3QvxQ" target="_blank">
                                Youtube
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="https://www.facebook.com/Cyber-LLama-104592757573309/?modal=admin_todo_tour" target="_blank"><img src="~/Images/facebook.png" class="MenuIcon" /></a>
                            <a class="nav-link" href="https://www.facebook.com/Cyber-LLama-104592757573309/?modal=admin_todo_tour" target="_blank">
                                Facebook
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="https://twitter.com/its_nyiko" target="_blank"><img src="~/Images/twitter.png" class="MenuIcon" /></a>
                            <a class="nav-link" href="https://twitter.com/its_nyiko" target="_blank">
                                Twitter
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="https://www.linkedin.com/in/neo-mulaudzi-07407a171/" target="_blank"><img src="~/Images/LinkedInIcon.png" class="MenuIcon" /></a>
                            <a class="nav-link" href="https://www.linkedin.com/in/neo-mulaudzi-07407a171/" target="_blank">
                                LinkedIn
                            </a>
                        </li>

                    </ul>
                </div>
            </nav>


            <p align="left">
                &copy; @DateTime.Now.Year - Property of CyberLlama <br />
                All Rights Reserved
            </p>
            <p align="right">
                <a href=@Url.Action("Index", "PrivacyAndTerms")>Privacy & terms</a><br />

                <a href=@Url.Action("Index", "PoliciesAndReporting")>Polices and Reporting</a>
            </p>



        </footer>
    </div>
</body>
</html>
