@using CyberLlamaConsumerSite.ServiceReference1;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ServiceClient sc = new ServiceClient();
    string id = (string)ViewContext.RouteData.Values["id"];


    c_PcPageInfo part = sc.getPcInfo(Convert.ToInt32(id));
    cPC pc = sc.intgetPC(Convert.ToInt32(id));

    String imageLink = part.image;
    decimal price = Math.Round(part.price,2);
    int quantity = part.Quantity;

    c_ProductPageInfo Case = sc.getPart(Convert.ToInt32(pc.case_id));
    c_ProductPageInfo Mobo = sc.getPart(Convert.ToInt32(pc.mobo_id));
    c_ProductPageInfo CPU = sc.getPart(Convert.ToInt32(pc.cpu_id));
    c_ProductPageInfo RAM = sc.getPart(Convert.ToInt32(pc.ram_id));
    c_ProductPageInfo GPU = sc.getPart(Convert.ToInt32(pc.gpu_id));
    c_ProductPageInfo Cooler = sc.getPart(Convert.ToInt32(pc.cooler_id));
    c_ProductPageInfo SSD = sc.getPart(Convert.ToInt32(pc.ssd_id));
    c_ProductPageInfo HDD = sc.getPart(Convert.ToInt32(pc.hdd_id));
    c_ProductPageInfo Fan = sc.getPart(Convert.ToInt32(pc.fan_id));
    c_ProductPageInfo PSU = sc.getPart(Convert.ToInt32(pc.psu_id));


    <h2 style="text-align:center"> Product Info </h2>
    <hr style="color:white;" />

    <div class="row">
        <div class="col" style="text-align:center">
            <div class="card">
                <img src="@(imageLink)" alt="Ram" style="width:80%; height:60%">
                <p class="price" style="font-size:200%">R@(price)</p>
                <p style="font-size:150%">Quantity: @(quantity)</p>
                <p style="font-size:150%"><button class="addCartLink" href=@Url.Action("AddToCart", new { ID = pc.id })>Add to Cart</button></p>
            </div>
        </div>
        <div class="col">
            <h3 style="text-align:center">Details</h3>
            <div class="row">
                <div class="col">Case:</div>
                <div class="col"><a href="@Url.Action("Index", "PartInfo", new { ID = Case.ID})">@(Case.model)</a></div>
            </div>
            <div class="row">
                <div class="col">Motherboard:</div>
                <div class="col"><a href="@Url.Action("Index", "PartInfo", new { ID = Mobo.ID})">@(Mobo.model)</a></div>
            </div>
            <div class="row">
                <div class="col">CPU:</div>
                <div class="col"><a href="@Url.Action("Index", "PartInfo", new { ID = CPU.ID})">@(CPU.model)</a></div>
            </div>
            <div class="row">
                <div class="col">RAM:</div>
                <div class="col"><a href="@Url.Action("Index", "PartInfo", new { ID = RAM.ID})">@(RAM.model)</a></div>
            </div>
            <div class="row">
                <div class="col">Cooler:</div>
                <div class="col"><a href="@Url.Action("Index", "PartInfo", new { ID = Cooler.ID})">@(Cooler.model)</a></div>
            </div>
            <div class="row">
                <div class="col">GPU:</div>
                <div class="col"><a href="@Url.Action("Index", "PartInfo", new { ID = GPU.ID})">@(GPU.model)</a></div>
            </div>
            <div class="row">
                <div class="col">PSU:</div>
                <div class="col"><a href="@Url.Action("Index", "PartInfo", new { ID = PSU.ID})">@(PSU.model)</a></div>
            </div>
            <div class="row">
                <div class="col">SSD:</div>
                <div class="col"><a href="@Url.Action("Index", "PartInfo", new { ID = (SSD == null? 0 : SSD.ID)})">@(SSD == null ? "None" : SSD.model)</a></div>
            </div>
            <div class="row">
                <div class="col">HDD:</div>
                <div class="col"><a href="@Url.Action("Index", "PartInfo", new { ID = (HDD == null? 0 : HDD.ID)})">@(HDD == null ? "None" : HDD.model)</a></div>
            </div>

        </div>
    </div>
}
<div class="toasterCartSuccess">Item Added to Cart</div>
<div class="toasterCartError">Unable to add item to cart</div>
<script>
    $(".addCartLink").click(function (e) {
        e.preventDefault();
        $.ajax({
            url: $(this).attr("href"),
            success: function () {
                var x = document.getElementsByClassName("toasterCartSuccess");
                x[0].className += " show";
                setTimeout(function () { x[0].className = x[0].className.replace("show", ""); }, 3000);
            },
            error: function () {
                var x = document.getElementsByClassName("toasterCartError");
                x[0].className += " show";
                setTimeout(function () { x[0].className = x[0].className.replace("show", ""); }, 3000);
            }

        });
    });
</script>

<style>
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 300px;
        margin: auto;
        text-align: center;
        font-family: arial;
    }

        .card button {
            border: none;
            outline: 0;
            padding: 12px;
            color: white;
            background-color: #000;
            text-align: center;
            cursor: pointer;
            width: 100%;
            font-size: 18px;
        }

            .card button:hover {
                opacity: 0.7;
            }
</style>
