@using CyberLlamaConsumerSite.ServiceReference1;
@{
    ViewBag.Title = "Invoices";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<CyberLlamaConsumerSite.Models.Invoice>
@{
    ServiceClient sc = new ServiceClient();
    int NIB = 0;
    double spent = 0;
    int points = 0;

    dynamic list = sc.getAllInvoices(Convert.ToInt32(Session["UserID"]));
    if (list != null)
    {
        foreach (cInvoice i in list)
        {
            c_ProductPageInfo part = sc.getPart(i.pc_ID);

            NIB++;
            spent += (((double)part.price) * part.Quantity);
        }

        points = (int)(spent / 1000);
    }
    <h1 class="centerText" style="margin:10px 0px 40px 0px">Overview</h1>
    <hr color="white" />
    <div class="card-content">
        <div class="row">
            <div class="col s3 offset-s2">
                <h4 id="username" runat="server" class="card-title grey-text text-darken-4"></h4>
                <p id="usertype" runat="server" class="medium-small grey-text"></p>
            </div>

            <div class="col s2 center-align">
                <h4 class="card-title grey-text text-darken-4">@(NIB)</h4>
                <p class="medium-small grey-text">Items Bought</p>
            </div>


            <div class="col s2 center-align">
                <h4 class="card-title grey-text text-darken-4">R@(spent)</h4>
                <p class="medium-small grey-text">Total Spent</p>
            </div>

            <div class="col s2 center-align">
                <h4 class="card-title grey-text text-darken-4">@(points)</h4>
                <p class="medium-small grey-text">Your Points</p>
            </div>
        </div>
    </div>
}
<hr color="white" />
<h1 class="centerText" style="margin:10px 0px 40px 0px">Invoices</h1>
<table style="width:75%; margin-left:270px" class="data">
    <thead class="data">
        <tr>
            <th class="data"><u>Invoice</u></th>
            <th class="data"><u>Date</u></th>
            <th class="data"><u>View More</u></th>

        </tr>
    </thead>
    <tbody class="data">
        @foreach (var item in @Model.GroupBy(x => x.InvoiceId).Select(y => y.FirstOrDefault()))
        {

            <tr>
                <td class="data">@item.InvoiceId</td>
                <td class="data">@item.date.Day / @item.date.Month / @item.date.Year </td>
                <td class="data"> <a href=@Url.Action("Invoice", "Invoice", new {id = item.InvoiceId })>View More</a></td>
            </tr>
        }
    </tbody>
</table>

