
@{
    ViewBag.Title = "Invoices";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<CyberLlamaConsumerSite.Models.Invoice>

<img class="centerImage" Style="margin-top:4%;max-width: 100px;margin-top:20px" src="~/Images/llama.png" />
<h1 class="centerText" style="margin:10px 0px 40px 0px">Invoices</h1>
<table style="width:100%;">
    <tr>
        <th>Invoice</th>
        <th>Date</th>
        <th>View More</th>
    </tr>

    @foreach (var item in @Model.GroupBy(x => x.InvoiceId).Select(y =>y.FirstOrDefault()))
    {
    
        <tr>
            <td>@item.InvoiceId</td>
            <td>@item.date.Day / @item.date.Month / @item.date.Year</td>
            <td><a href=@Url.Action("Invoice", "Invoice", new {id = item.InvoiceId })>View More</a></td>
        </tr>
    
    }

</table>


