@using CyberLlamaConsumerSite.CRUDService;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ServiceClient sc = new ServiceClient();

    <h1 style="text-align:center">Build Your own PC</h1>

    <p style="font-size:200%">1. Case</p>
    dynamic cases = sc.getAllPCInfo("Case");
    foreach (c_ProductPageInfo p in cases)
    {
        String imageLink = p.image;
        String model = p.model;
        int price = p.price;
        int quantity = p.Quantity;

        <div class="card">
            <img src="@(imageLink)" alt="Ram" style="width:100%">
            <h1>@(p.type) @(p.ID)</h1>
            <h1>@(model)</h1>
            <p class="price">R@(price)</p>
            <p>Quantity: @(quantity)</p>
            <p><button id="selectCase" runat="server" onclick="selectCase()">Select Case</button></p>
        </div>
    }


    <div id="case">
        <p style="font-size:200%">2. Motherboard</p>
        <div id="SelectedMobo" runat="server"></div>
    </div>

    <div id="case">
        <p style="font-size:200%">3. CPU</p>
        <div id="SelectedCPU" runat="server"></div>
    </div>

    <div id="case">
        <p style="font-size:200%">4. RAM</p>
        <div id="SelectedRAM" runat="server"></div>
    </div>

    <div id="case">
        <p style="font-size:200%">5. GPU</p>
        <div id="SelectedGPU" runat="server"></div>
    </div>

    <div id="case">
        <p style="font-size:200%">6. PSU</p>
        <div id="SelectedPSU" runat="server"></div>
    </div>

    <div id="case">
        <p style="font-size:200%">Other</p>
        <div id="SelectedOther" runat="server"></div>
    </div>

    <script>
        function selectCase() {

        }

    </script>
}
@{

}

