@using CyberLlamaConsumerSite.ServiceReference1;
@{
    ViewBag.Title = "Build Your own PC";
    ServiceClient sc = new ServiceClient();
    /*Session["Case"] = 23;
    Session["Mobo"] = 15;
    Session["CPU"] = 7;
    Session["Cooler"] = 6;
    Session["RAM"] = 19;
    Session["GPU"] = 10;
    Session["PSU"] = 18;
    Session["Fan"] = 32;
    Session["HDD"] = 14;
    Session["SSD"] = "None";*/

    <h2>1. Case</h2>
    if (Session["Case"] == null)
    {
        //Show all Cases
        dynamic list = sc.getAllParts("Case");

        <div class="row">
        @foreach (c_ProductPageInfo c in list)
        {
            String imageLink = c.image;
            String model = c.model;
            Double price = c.price;
            int quantity = c.Quantity;  // <p><button class="addCartLink" href=@Url.Action("AddToCart", new { ID = p.ID })>Add to Cart</button></p>
            <div class="col">
                <div class="card" style="width:100%; height:80%; text-align:center">
                    <img src="@(imageLink)" alt="Ram" style="width:60%; height:50%; ">
                    <h1 style="font-size:100%"><a href="@Url.Action("Index", "PartInfo", new {id=c.ID})">@(model)</a></h1>
                    <p class="price">R@(price)</p>
                    <p>Quantity: @(quantity)</p>
                    <p><button class="selectPart" href="@Url.Action("SelectCase", new { ID = c.ID })"> Select Case</button></p>
                </div>
            </div>
        }
        </div>

    }
    if (Session["Case"] != null)
    {
        c_ProductPageInfo c = sc.getPart(Convert.ToInt32(Session["Case"]));
        String imageLink = c.image;
        String model = c.model;
        Double price = c.price;
        int quantity = c.Quantity;

        <div class="card" style="width:20%; height:20%">
            <img src="@(imageLink)" alt="Ram" style="width:100%; height:30%">
            <h1><a href="@Url.Action("Index", "PartInfo", new {id=c.ID})">@(model)</a></h1>
            <p class="price">R@(price)</p>
            <p>Quantity: @(quantity)</p>
            <p><button class="clearPart" href=@Url.Action("ClearCase")> Clear Case</button></p>
        </div>

        <h2>2. Motherboard</h2>
        if (Session["Mobo"] == null)
        {
            //Show all Motherboards
            dynamic list2 = sc.getMotherboardForCase(c.ID);
            foreach (c_ProductPageInfo m in list2)
            {
                String imageLink2 = m.image;
                String model2 = m.model;
                Double price2 = m.price;
                int quantity2 = m.Quantity;

                <div class="card" style="width:20%; height:20%">
                    <img src="@(imageLink2)" alt="Ram" style="width:100%; height:30%">
                    <h1><a href="@Url.Action("Index", "PartInfo", new {id=m.ID})">@(model2)</a></h1>
                    <p class="price">R@(price2)</p>
                    <p>Quantity: @(quantity2)</p>
                    <p><button class="selectPart" href="@Url.Action("SelectMobo", new {id = m.ID })"> Select Motherboard</button></p>
                </div>
            }
        }

        if (Session["Mobo"] != null)
        {
            c_ProductPageInfo c2 = sc.getPart(Convert.ToInt32(Session["Mobo"]));
            String imageLink2 = c2.image;
            String model2 = c2.model;
            Double price2 = c2.price;
            int quantity2 = c2.Quantity;

                <div class="card" style="width:20%; height:20%">
                    <img src="@(imageLink2)" alt="Ram" style="width:100%; height:30%">
                    <h1><a href="@Url.Action("Index", "PartInfo", new {id=c2.ID})">@(model2)</a></h1>
                    <p class="price">R@(price2)</p>
                    <p>Quantity: @(quantity2)</p>
                    <p><button class="clearPart" href=@Url.Action("ClearMobo")> Clear Motherboard</button></p>
                </div>

            <h2>3. CPU</h2>
            if (Session["CPU"] == null)
            {
                //Show all CPus
                dynamic list3 = sc.getCPUForMotherboard(c2.ID);

                foreach (c_ProductPageInfo cpu in list3)
                {
                    String imageLink3 = cpu.image;
                    String model3 = cpu.model;
                    Double price3 = cpu.price;
                    int quantity3 = cpu.Quantity;

                    <div class="card" style="width:20%; height:20%">
                        <img src="@(imageLink3)" alt="Ram" style="width:100%; height:30%">
                        <h1><a href="@Url.Action("Index", "PartInfo", new {id=cpu.ID})">@(model3)</a></h1>
                        <p class="price">R@(price3)</p>
                        <p>Quantity: @(quantity3)</p>
                        <p><button class="selectPart" href=@Url.Action("SelectCPU", new { id=cpu.ID })> Select CPU</button></p>
                    </div>
                }
            }

            if (Session["CPU"] != null)
            {
                c_ProductPageInfo c3 = sc.getPart(Convert.ToInt32(Session["CPU"]));
                String imageLink3 = c3.image;
                String model3 = c3.model;
                Double price3 = c3.price;
                int quantity3 = c3.Quantity;

                    <div class="card" style="width:20%; height:20%">
                        <img src="@(imageLink3)" alt="Ram" style="width:100%; height:30%">
                        <h1><a href="@Url.Action("Index", "PartInfo", new {id=c3.ID})">@(model3)</a></h1>
                        <p class="price">R@(price3)</p>
                        <p>Quantity: @(quantity3)</p>
                        <p><button class="clearPart" href=@Url.Action("ClearCPU")> Clear CPU</button></p>
                    </div>

                <h2>4. Cooler</h2>
                if (Session["Cooler"] == null)
                {
                    //Show all Air Coolers
                    dynamic list4 = sc.getAirCoolersForCPU(c3.ID);
                    foreach (c_ProductPageInfo c4 in list4)
                    {
                        String imageLink4 = c4.image;
                        String model4 = c4.model;
                        Double price4 = c4.price;
                        int quantity4 = c4.Quantity;

                        <div class="card" style="width:20%; height:20%">
                            <img src="@(imageLink4)" alt="Ram" style="width:100%; height:30%">
                            <h1><a href="@Url.Action("Index", "PartInfo", new {id=c4.ID})">@(model4)</a></h1>
                            <p class="price">R@(price4)</p>
                            <p>Quantity: @(quantity4)</p>
                            <p><button class="selectClass" href=@Url.Action("SelectAC", new { id=c4.ID })> Select Air Cooler</button></p>
                        </div>
                    }

                    //Show all Liquid Coolers
                    dynamic list5 = sc.getLiquidCoolersForCPU(c3.ID);
                    foreach (c_ProductPageInfo c5 in list5)
                    {
                        String imageLink5 = c5.image;
                        String model5 = c5.model;
                        Double price5 = c5.price;
                        int quantity5 = c5.Quantity;

                        <div class="card" style="width:20%; height:20%">
                            <img src="@(imageLink5)" alt="Ram" style="width:100%; height:30%">
                            <h1><a href="@Url.Action("Index", "PartInfo", new {id=c5.ID})">@(model5)</a></h1>
                            <p class="price">R@(price5)</p>
                            <p>Quantity: @(quantity5)</p>
                            <p><button class="selectClass" href=@Url.Action("SelectLC", new { id=c5.ID })> Select Liquid Cooler</button></p>
                        </div>
                    }
                }
                if (Session["Cooler"] != null)
                {
                    c_ProductPageInfo cooler = sc.getPart(Convert.ToInt32(Session["Cooler"]));
                    String imageLink5 = cooler.image;
                    String model5 = cooler.model;
                    Double price5 = cooler.price;
                    int quantity5 = cooler.Quantity;

                        <div class="card" style="width:20%; height:20%">
                            <img src="@(imageLink5)" alt="Ram" style="width:100%; height:30%">
                            <h1><a href="@Url.Action("Index", "PartInfo", new {id=cooler.ID})">@(model5)</a></h1>
                            <p class="price">R@(price5)</p>
                            <p>Quantity: @(quantity5)</p>
                            <p><button class="clearPart" href=@Url.Action("ClearCooler")> Clear Cooler</button></p>
                        </div>

                    <h2>5. RAM</h2>
                    if (Session["RAM"] == null)
                    {
                        //Show all RAM
                        dynamic list6 = sc.getRAMForMotherboard(c2.ID);
                        foreach (c_ProductPageInfo c6 in list6)
                        {
                            String imageLink6 = c6.image;
                            String model6 = c6.model;
                            Double price6 = c6.price;
                            int quantity6 = c6.Quantity;

                            <div class="card" style="width:20%; height:20%">
                                <img src="@(imageLink6)" alt="Ram" style="width:100%; height:30%">
                                <h1><a href="@Url.Action("Index", "PartInfo", new {id=c6.ID})">@(model6)</a></h1>
                                <p class="price">R@(price6)</p>
                                <p>Quantity: @(quantity6)</p>
                                <p><button class="selectClass" href=@Url.Action("SelectRAM", new { id=c6.ID })> Select RAM</button></p>
                            </div>
                        }
                    }
                    if (Session["RAM"] != null)
                    {
                        c_ProductPageInfo ram = sc.getPart(Convert.ToInt32(Session["RAM"]));
                        String imageLink6 = ram.image;
                        String model6 = ram.model;
                        Double price6 = ram.price;
                        int quantity6 = ram.Quantity;

                            <div class="card" style="width:20%; height:20%">
                                <img src="@(imageLink6)" alt="Ram" style="width:100%; height:30%">
                                <h1><a href="@Url.Action("Index", "PartInfo", new {id=ram.ID})">@(model6)</a></h1>
                                <p class="price">R@(price6)</p>
                                <p>Quantity: @(quantity6)</p>
                                <p><button class="clearPart" href=@Url.Action("ClearRAM")> Clear RAM</button></p>
                            </div>

                        <h2>6. GPU</h2>
                        if (Session["GPU"] == null)
                        {
                            //Show all GPU
                            dynamic list7 = sc.getAllParts("GPU");
                            foreach (c_ProductPageInfo c7 in list7)
                            {
                                String imageLink7 = c7.image;
                                String model7 = c7.model;
                                Double price7 = c7.price;
                                int quantity7 = c7.Quantity;

                                <div class="card" style="width:20%; height:20%">
                                    <img src="@(imageLink7)" alt="Ram" style="width:100%; height:30%">
                                    <h1><a href="@Url.Action("Index", "PartInfo", new {id=c7.ID})">@(model7)</a></h1>
                                    <p class="price">R@(price7)</p>
                                    <p>Quantity: @(quantity7)</p>
                                    <p><button class="selectClass" href=@Url.Action("SelectGPU", new { id=c7.ID })> Select GPU</button></p>
                                </div>
                            }
                        }
                        if (Session["GPU"] != null)
                        {
                            c_ProductPageInfo gpu = sc.getPart(Convert.ToInt32(Session["GPU"]));
                            String imageLink7 = gpu.image;
                            String model7 = gpu.model;
                            Double price7 = gpu.price;
                            int quantity7 = gpu.Quantity;

                                <div class="card" style="width:20%; height:20%">
                                    <img src="@(imageLink7)" alt="Ram" style="width:100%; height:30%">
                                    <h1><a href="@Url.Action("Index", "PartInfo", new {id=gpu.ID})">@(model7)</a></h1>
                                    <p class="price">R@(price7)</p>
                                    <p>Quantity: @(quantity7)</p>
                                    <p><button class="clearPart" href=@Url.Action("ClearGPU")> Clear GPU</button></p>
                                </div>

                            <h2>7. PSU</h2>
                            if (Session["PSU"] == null)
                            {
                                //Show all PSU
                                dynamic list8 = sc.getAllParts("PSU");
                                foreach (c_ProductPageInfo c8 in list8)
                                {
                                    String imageLink8 = c8.image;
                                    String model8 = c8.model;
                                    Double price8 = c8.price;
                                    int quantity8 = c8.Quantity;

                                    <div class="card" style="width:20%; height:20%">
                                        <img src="@(imageLink8)" alt="Ram" style="width:100%; height:30%">
                                        <h1><a href="@Url.Action("Index", "PartInfo", new {id=c8.ID})">@(model8)</a></h1>
                                        <p class="price">R@(price8)</p>
                                        <p>Quantity: @(quantity8)</p>
                                        <p><button class="selectClass" href=@Url.Action("SelectPSU", new { id=c8.ID })> Select GPU</button></p>
                                    </div>
                                }
                            }
                            if (Session["PSU"] != null)
                            {
                                c_ProductPageInfo psu = sc.getPart(Convert.ToInt32(Session["PSU"]));
                                String imageLink8 = psu.image;
                                String model8 = psu.model;
                                Double price8 = psu.price;
                                int quantity8 = psu.Quantity;

                                    <div class="card" style="width:20%; height:20%">
                                        <img src="@(imageLink8)" alt="Ram" style="width:100%; height:30%">
                                        <h1><a href="@Url.Action("Index", "PartInfo", new {id=psu.ID})">@(model8)</a></h1>
                                        <p class="price">R@(price8)</p>
                                        <p>Quantity: @(quantity8)</p>
                                        <p><button class="clearPart" href=@Url.Action("ClearPSU")> Clear PSU</button></p>
                                    </div>

                                <h2>8. Fans</h2>
                                if (Session["Fan"] == null)
                                {
                                    //Show all Fans
                                    dynamic list9 = sc.getAllParts("Fan");
                                    foreach (c_ProductPageInfo c9 in list9)
                                    {
                                        String imageLink9 = c9.image;
                                        String model9 = c9.model;
                                        Double price9 = c9.price;
                                        int quantity9 = c9.Quantity;

                                        <div class="card" style="width:20%; height:20%">
                                            <img src="@(imageLink9)" alt="Ram" style="width:100%; height:30%">
                                            <h1><a href="@Url.Action("Index", "PartInfo", new {id=c9.ID})">@(model9)</a></h1>
                                            <p class="price">R@(price9)</p>
                                            <p>Quantity: @(quantity9)</p>
                                            <p><button class="selectClass" href=@Url.Action("SelectFans", new { id=c9.ID })> Select Fan</button></p>
                                        </div>
                                    }
                                }
                                if (Session["Fan"] != null)
                                {
                                    c_ProductPageInfo fans = sc.getPart(Convert.ToInt32(Session["Fan"]));
                                    String imageLink9 = fans.image;
                                    String model9 = fans.model;
                                    Double price9 = fans.price;
                                    int quantity9 = fans.Quantity;

                                        <div class="card" style="width:20%; height:20%">
                                            <img src="@(imageLink9)" alt="Ram" style="width:100%; height:30%">
                                            <h1><a href="@Url.Action("Index", "PartInfo", new {id=fans.ID})">@(model9)</a></h1>
                                            <p class="price">R@(price9)</p>
                                            <p>Quantity: @(quantity9)</p>
                                            <p><button class="clearPart" href=@Url.Action("ClearFan")> Clear Fans</button></p>
                                        </div>

                                    <h2>9. Hard Drive</h2>
                                    if (Session["HDD"] == null)
                                    {
                                        //Show all Fans
                                        dynamic list10 = sc.getAllParts("HDD");
                                        foreach (c_ProductPageInfo c10 in list10)
                                        {
                                            String imageLink10 = c10.image;
                                            String model10 = c10.model;
                                            Double price10 = c10.price;
                                            int quantity10 = c10.Quantity;

                                            <div class="card" style="width:20%; height:20%">
                                                <img src="@(imageLink10)" alt="Ram" style="width:100%; height:30%">
                                                <h1><a href="@Url.Action("Index", "PartInfo", new {id=c10.ID})">@(model10)</a></h1>
                                                <p class="price">R@(price10)</p>
                                                <p>Quantity: @(quantity10)</p>
                                                <p><button class="selectClass" href=@Url.Action("SelectHDD", new { id=c10.ID })> Select HDD</button></p>
                                            </div>
                                        }
                                    }
                                    if (Session["HDD"] != null)
                                    {
                                        c_ProductPageInfo hdd = sc.getPart(Convert.ToInt32(Session["HDD"]));
                                        String imageLink10 = hdd.image;
                                        String model10 = hdd.model;
                                        Double price10 = hdd.price;
                                        int quantity10 = hdd.Quantity;

                                            <div class="card" style="width:20%; height:20%">
                                                <img src="@(imageLink10)" alt="Ram" style="width:100%; height:30%">
                                                <h1><a href="@Url.Action("Index", "PartInfo", new {id=hdd.ID})">@(model10)</a></h1>
                                                <p class="price">R@(price10)</p>
                                                <p>Quantity: @(quantity10)</p>
                                                <p><button class="clearPart" href=@Url.Action("ClearHDD")> Clear HDD</button></p>
                                            </div>

                                        <h2>10. SSD</h2>
                                        if (Session["SSD"].Equals("None"))
                                        {
                                            <h3>Not supported by Motherboard</h3>
                                        }
                                        else if (Session["SSD"] == null)
                                        {
                                            //Show all Fans
                                            dynamic list11 = sc.getAllParts("SSD");
                                            foreach (c_ProductPageInfo c11 in list11)
                                            {
                                                String imageLink11 = c11.image;
                                                String model11 = c11.model;
                                                Double price11 = c11.price;
                                                int quantity11 = c11.Quantity;

                                                <div class="card" style="width:20%; height:20%">
                                                    <img src="@(imageLink11)" alt="Ram" style="width:100%; height:30%">
                                                    <h1><a href="@Url.Action("Index", "PartInfo", new {id=c11.ID})">@(model11)</a></h1>
                                                    <p class="price">R@(price11)</p>
                                                    <p>Quantity: @(quantity11)</p>
                                                    <p><button class="selectClass" href=@Url.Action("SelectSSD", new { id=c11.ID })> Select SSD</button></p>
                                                </div>
                                            }
                                        }

                                        else if (Session["SSD"] != null)
                                        {
                                            c_ProductPageInfo ssd = sc.getPart(Convert.ToInt32(Session["SSD"]));
                                            String imageLink11 = ssd.image;
                                            String model11 = ssd.model;
                                            Double price11 = ssd.price;
                                            int quantity11 = ssd.Quantity;

                                                <div class="card" style="width:20%; height:20%">
                                                    <img src="@(imageLink11)" alt="Ram" style="width:100%; height:30%">
                                                    <h1><a href="@Url.Action("Index", "PartInfo", new {id=ssd.ID})">@(model11)</a></h1>
                                                    <p class="price">R@(price11)</p>
                                                    <p>Quantity: @(quantity11)</p>
                                                    <p><button class="clearPart" href=@Url.Action("ClearSSD")> Clear SSD</button></p>
                                                </div>
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
}

<script>
    $(".selectPart").click(function (e) {
        e.preventDefault();
        $.ajax({
            url: $(this).attr("href"),
            success: function () {
                alert("Selected Part");
                window.location.reload(false);
            },
            error: function () {
                alert("An error Occured");
            }


        });
    });

    $(".clearPart").click(function (e) {
        e.preventDefault();
        $.ajax({
            url: $(this).attr("href"),
            success: function () {
                alert("Cleared Parts");
                window.location.reload(false);
            },
            error: function () {
                alert("An error Occured");
            }


        });
    });
</script>

