@{
    ViewBag.Title = "Add New User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model CyberLlamaConsumerSite.Models.UserPositionView
<img class="centerImage" Style="margin-top:4%;" src="~/Images/llama.png" />
<div class="row registerForm">
        <div class=" @((Convert.ToInt32(Session["UserType"]) ==1 || Convert.ToInt32(Session["UserType"]) ==2) ? "col-md-6" : "centerImage" )" >
            <div class="borderedElement">
                <h3 class="titleText centerText">@((Convert.ToInt32(Session["UserType"]) == 2 || Convert.ToInt32(Session["UserType"]) == 1) ? "Add Client" : "New User" )</h3>
                <form method="post" action="@Url.Action("SubmitClient", "AddUser")">
                    <div class="registerLabel">
                        <label for="FirstNameClient" class="required">First_Name:</label>
                        <input type="text" name="fName" id="FirstNameClient" style="margin-right:10px" />
                    </div>
                    <div class="registerLabel">
                        <label for="SurnameClient" class="required">Surname:</label>
                        <input type="text" name="sName" id="SurnameClient" style="margin-right:10px" />
                    </div>
                    <div class="registerLabel">
                        <label for="EmailClient" class="required">Email:</label>
                        <input type="email" name="eMail" id="EmailClient" style="margin-right:10px" />
                    </div>
                    <div class="registerLabel">
                        <label for="addressClient" class="required">Address:</label>
                        <input type="text" name="address" id="addressClient" style="margin-right:10px" />
                    </div>
                    <div class="registerLabel">
                        <label for="cityClient" class="required">City:</label>
                        <input type="text" name="city" id="cityClient" style="margin-right:10px" />
                    </div>
                    <div class="registerLabel">
                        <label for="provinceClient" class="required">Province:</label>
                        <input type="text" name="province" id="provinceClient" style="margin-right:10px" />
                    </div>
                    <div class="registerLabel">
                        <label for="zipCodeClient" class="required">Zip Code:</label>
                        <input type="text" name="zipCode" id="zipCodeClient" style="margin-right:10px" />
                    </div>

                    <div class="registerLabel">
                        <label for="UserNameClient" class="required">User Name:</label>
                        <input type="text" name="UserName" id="UserNameClient" style="margin-right:10px" />
                    </div>
                    <div class="registerLabel">
                        <label for="PasswordClient" class="required">Password:</label>
                        <input type="password" name="password" id="PasswordClient" style="margin-right:10px" />
                    </div>
                    <div class="registerLabel">
                        <label for="ConfirmClient" class="required">Confirm Password:</label>
                        <input type="password" name="confirm" id="ConfirmClient" style="margin-right:10px" />
                    </div>
                    <div class="registerLabel" style="margin-top:20px;">
                        <input type="submit" value="Register" />
                    </div>
                </form>
            </div>
        </div>
        @{ if (Convert.ToInt32(Session["UserType"]) == 2 || Convert.ToInt32(Session["UserType"]) == 1)
            {
                <div class="col-md-6">
                    <div class="borderedElement">
                        <h3 class="titleText centerText">Add Employee</h3>
                        <form method="post" action="@Url.Action("SubmitEmployee", "AddUser")">
                            <div class="registerLabel">
                                <label for="FirstName" class="required">First Name:</label>
                                <input type="text" name="fName" id="FirstName" style="margin-right:10px" />
                            </div>
                            <div class="registerLabel">
                                <label for="Surname" class="required">Surname:</label>
                                <input type="text" name="sName" id="Surname" style="margin-right:10px" />
                            </div>
                            <div class="registerLabel">
                                <label for="Email" class="required">Email:</label>
                                <input type="email" name="eMail" id="Email" style="margin-right:10px" />
                            </div>
                            <div class="registerLabel">
                                <label for="Phone" class="required">Telephone Number:</label>
                                <input type="tel" name="phone" id="Phone" style="margin-right:10px" />
                            </div>
                            <div class="registerLabel">
                                <label for="type" class="required">User Type:</label>
                                <Select name="type" style="margin-right:10px">
                                    @for (int x = 0; x < Model.userPosition.Count(); x++)
                                    {
                                        <option value=@(x + 1)>
                                            @Model.userPosition[x]
                                        </option>
                                    }
                                </Select>

                            </div>

                            <div class="registerLabel">
                                <label for="UserName" class="required">User Name:</label>
                                <input type="text" name="UserName" id="UserName" style="margin-right:10px" />
                            </div>
                            <div class="registerLabel">
                                <label for="Password" class="required">Password:</label>
                                <input type="password" name="password" id="Password" style="margin-right:10px" />
                            </div>
                            <div class="registerLabel">
                                <label for="Confirm" class="required">Confirm Password:</label>
                                <input type="password" name="confirm" id="Confirm" style="margin-right:10px" />
                            </div>
                            <div class="registerLabel" style="margin-top:20px">
                                <input type="submit" value="Submit new Employee" />
                            </div>
                        </form>
                    </div>
                </div>
            }
        }

    </div>
