
@{
    ViewBag.Title = "AirCooler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model CyberLlamaConsumerSite.CRUDService.cAirCooler
@using CyberLlamaConsumerSite.CRUDService
@{ServiceClient sr = new ServiceClient();}
<h1 class="centerText" style="margin:10px 0px 10px 0px">Edit Air Cooler</h1>

@using (Html.BeginForm("ChangeAirCooler", "EditProduct", FormMethod.Post))
{

    <div class="row">
        <div class="col-md-6 smallMargin-top">
            <div class="borderedAddEditElement ">
                <h4 class="centerText addEditFormTitle">General</h4>
                <div class="form-Input " style="display:none">
                    <label>id:</label>
                    @Html.TextBoxFor(m => m.id);
                </div>
                <div class="form-Input " style="margin-top:30px;">
                    <label>Model:</label>
                    @Html.TextBoxFor(m => m.model)
                </div>
                <div class="form-Input ">
                    <label>Brand:</label>
                    @Html.TextBoxFor(m => m.brand)
                </div>
                <div class="form-Input ">
                    <label>Series:</label>
                    @Html.TextBoxFor(m => m.series)
                </div>
                <div class="form-Input ">
                    <label>Compatability:</label>
                    @{var chpsetList = sr.getAllCPU().Select(x => x.Chipset);}
                    @Html.DropDownList("chipsetDropdown", new SelectList(chpsetList.Select(x => x).Distinct()), new { @onchange ="addChip()", @id="chipsetDropdown"})
                    @Html.TextBoxFor(m => m.chipset, new { id="chipsetText"})
                    <script>
                        function addChip() {
                            console.log("Running");
                            var x = document.getElementById("chipsetText");

                            var e = document.getElementById("chipsetDropdown");
                            var listValue = e.options[e.selectedIndex].text;
                            if (x.value == "") {
                                x.value = listValue;
                            } else {
                                    x.value += ", " + listValue;
                            }
                        }
                    </script>
                </div> 
                <div class="form-Input ">
                    <label>warranty:</label>
                    @Html.TextBoxFor(m => m.warranty)
                </div>

                <div class="form-Input ">
                    <label>Active:</label>
                    @Html.TextBoxFor(m => m.active)
                </div>
                <div class="form-Input ">
                    <label>Price:</label>
                    @Html.TextBoxFor(m => m.price)
                </div>
                <div class="form-Input ">
                    <label>Quantity:</label>
                    <input name="quantity" id="quantity" />
                </div>
                <div class="form-Input ">
                    <label>Image Link:</label>
                    <input name="image" id="image" />
                </div>
            </div>
        </div>
        <div class="col-md-6 smallMargin-top">
            <div class="borderedAddEditElement ">
                <h4 class="centerText addEditFormTitle">Additional</h4>
                <div class="form-Input " style="margin-top:30px;">
                    <label>Fan Size:</label>
                    @Html.TextBoxFor(m => m.fan_size)
                </div>
                <div class="form-Input ">
                    <label>Fan RPM:</label>
                    @Html.TextBoxFor(m => m.fan_rpm)
                </div>
                <div class="form-Input ">
                    <label>Air Flow:</label>
                    @Html.TextBoxFor(m => m.air_flow)
                </div>
                <div class="form-Input ">
                    <label>Noise level:</label>
                    @Html.TextBoxFor(m => m.noise_level)
                </div>
                <div class="form-Input ">
                    <label>Power Connector:</label>
                    @Html.TextBoxFor(m => m.power_connector)
                </div>
                <div class="form-Input ">
                    <label>Colour:</label>
                    @Html.TextBoxFor(m => m.colour)
                </div>
                <div class="form-Input ">
                    <label>Materials:</label>
                    @Html.TextBoxFor(m => m.materials)
                </div>
                <div class="form-Input ">
                    <label>length:</label>
                    @Html.TextBoxFor(m => m.length)
                </div>

                <div class="form-Input ">
                    <label>height:</label>
                    @Html.TextBoxFor(m => m.height)
                </div>
                <div class="form-Input ">
                    <label>Width:</label>
                    @Html.TextBoxFor(m => m.width)
                </div>
                <div class="form-Input ">
                    <label>Weight:</label>
                    @Html.TextBoxFor(m => m.weight)
                </div>
                <div class="form-Input ">
                    <label>Features:</label>
                    @Html.TextBoxFor(m => m.features)
                </div>
            </div>
        </div>
    </div>

    <p color="red" style="text-align:center">@ViewBag.status</p>
    <div class="form-Input ">
        <input class="AddEditButton centerImage" type="submit" value="Edit Air Cooler" />
    </div>
}

