
@{
    ViewBag.Title = "Case";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model CyberLlamaConsumerSite.CRUDService.cCase

<h1 class="centerText" style="margin:10px 0px 10px 0px">Edit Case</h1>

@using (Html.BeginForm("ChangeCase", "EditProduct", FormMethod.Post))
{
    <div class="form-Input " style="display:none">
        <label>id:</label>
        @Html.TextBoxFor(m => m.id);
    </div>
    <div class="form-Input ">
        <label>Model:</label>
        @Html.TextBoxFor(m => m.model)
    </div>
    <div class="form-Input ">
        <label>Brand:</label>
        @Html.TextBoxFor(m => m.brand)
    </div>
    <div class="form-Input ">
        <label>Series:</label>
        @Html.TextBoxFor(m => m.series)
    </div>
    <div class="form-Input ">
        <label>Dimensions:</label>
        @Html.TextBoxFor(m => m.dimensions)
    </div>

    <div class="form-Input ">
        <label>Net Weight:</label>
        @Html.TextBoxFor(m => m.net_weight)
    </div>
    <div class="form-Input ">
        <label>Motherboard form factor:</label>
        @Html.TextBoxFor(m => m.mobo_form_factor)
    </div>
    <div class="form-Input ">
        <label>Side Window:</label>
        @Html.TextBoxFor(m => m.side_window)
    </div>
    <div class="form-Input ">
        <label>Number of hard drives:</label>
        @Html.TextBoxFor(m => m.num_hdd_drives)
    </div>
    <div class="form-Input ">
        <label>Number of ssd,s:</label>
        @Html.TextBoxFor(m => m.num_ssd_drives)
    </div>
    <div class="form-Input ">
        <label>Colour:</label>
        @Html.TextBoxFor(m => m.colour)
    </div>
    <div class="form-Input ">
        <label>front I/O:</label>
        @Html.TextBoxFor(m => m.front_io)
    </div>
    <div class="form-Input ">
        <label>expansion Slots:</label>
        @Html.TextBoxFor(m => m.expansion_slots)
    </div>

    <div class="form-Input ">
        <label>number of Top Fans:</label>
        @Html.TextBoxFor(m => m.num_top_fans)
    </div>
    <div class="form-Input ">
        <label>Number of bottom fans:</label>
        @Html.TextBoxFor(m => m.num_bottom_fans)
    </div>
    <div class="form-Input ">
        <label>Number of Fromt fans:</label>
        @Html.TextBoxFor(m => m.num_front_fans)
    </div>
    <div class="form-Input ">
        <label>number of back Fans:</label>
        @Html.TextBoxFor(m => m.num_back_fans)
    </div>
    <div class="form-Input ">
        <label>top radiator support length:</label>
        @Html.TextBoxFor(m => m.top_rad_length)
    </div>
    <div class="form-Input ">
        <label>Front radiator support length:</label>
        @Html.TextBoxFor(m => m.front_rad_length)
    </div>
    <div class="form-Input ">
        <label>gpu max length:</label>
        @Html.TextBoxFor(m => m.gpu_max_length)
    </div>
    <div class="form-Input ">
        <label>cpu cooler height:</label>
        @Html.TextBoxFor(m => m.cpu_cooler_max_height)
    </div>
    <div class="form-Input ">
        <label>warranty:</label>
        @Html.TextBoxFor(m => m.warranty)
    </div>

    <div class="form-Input ">
        <label>Active:</label>
        @Html.TextBoxFor(m => m.active)
    </div>
    <div class="form-Input ">
        <label>Price:</label>
        @Html.TextBoxFor(m => m.price)
    </div>
    <div class="form-Input ">
        <label>Quantity:</label>
        <input name="quantity" id="quantity" />
    </div>
    <div class="form-Input ">
        <label>Image Link:</label>
        <input name="image" id="image" />
    </div>
    <p color="red" style="text-align:center">@ViewBag.status</p>
    <div class="form-Input">
        <input type="submit" value="Edit Case" />
    </div>
}

