
@{
    ViewBag.Title = "EditPC";
}
@model List<CyberLlamaConsumerSite.CRUDService.cPC>
<h1 class="centerText" style="margin:10px 0px 10px 0px">Edit PC</h1>
<script>
    function ModelSort() {
        document.getElementById("product_body").innerHTML = "";
        var products = @Html.Raw(Json.Encode(@Model.OrderBy(x => x.type.Trim()).Select(y => y)));
        for (var i = 0; i < products.length; i++) {
            document.getElementById("product_body").innerHTML += "<tr><td class=\"data\">" + products[i].type + products[i].id + "</td><td class=\"data\">" + products[i].active + "</td><td class=\"data\">" + products[i].discount + "</td><td class=\"data\">" + products[i].price + "</td class=\"data\"><td class=\"data\"><a href=\"/EditProduct/PC?id=" + products[i].id + "\"><img style=\"max-width: 50px;\" src=\"https://icon-library.net/images/icon-edit/icon-edit-1.jpg\" /></a></td ></tr > "
        }
    }
    function PriceSort() {
        document.getElementById("product_body").innerHTML = "";
        var products = @Html.Raw(Json.Encode(@Model.OrderBy(x => x.price).Select(y => y)));
        for (var i = 0; i < products.length; i++) {
            document.getElementById("product_body").innerHTML += "<tr><td class=\"data\">" + products[i].type + products[i].id + "</td><td class=\"data\">" + products[i].active + "</td><td class=\"data\">" + products[i].discount + "</td><td class=\"data\">" + products[i].price + "</td><td class=\"data\"><a href=\"/EditProduct/PC?id=" + products[i].id + "\"><img style=\"max-width: 50px;\" src=\"https://icon-library.net/images/icon-edit/icon-edit-1.jpg\" /></a></td ></tr > "
        }
    }
    function search() {
        var searchval = document.getElementById("search");
        var search = searchval.value;
         document.getElementById("product_body").innerHTML = "";
        var products = @Html.Raw(Json.Encode(@Model.OrderBy(x => x.id).Select(y => y)));
        for (var i = 0; i < products.length; i++) {
            if (products[i].type.trim() + products[i].id == search) {
                document.getElementById("product_body").innerHTML +=
                    "<tr><td class=\"data\">" +
                    products[i].type + products[i].id +
                "</td ><td class=\"data\">" +
                products[i].active + "</td><td class=\"data\">" +
                    products[i].discount + "</td><td class=\"data\">" + products[i].price +
                    "</td><td class=\"data\"><a href=\"/EditProduct/PC?id=" + products[i].id + "\"><img style=\"max-width: 50px;\" src=\"https://icon-library.net/images/icon-edit/icon-edit-1.jpg\" /></a></td ></tr > "

            }
        }

    }

    function activeSort() {
        document.getElementById("product_body").innerHTML = "";
        var products = @Html.Raw(Json.Encode(@Model.OrderBy(x => x.active).Select(y => y)));
        for (var i = 0; i < products.length; i++) {
            document.getElementById("product_body").innerHTML += "<tr><td class=\"data\">" + products[i].type + products[i].id + "</td><td class=\"data\">" + products[i].active + "</td><td class=\"data\">" + products[i].discount + "</td><td class=\"data\">" + products[i].price + "</td><td class=\"data\"><a href=\"/EditProduct/PC?id=" + products[i].id + "\"><img style=\"max-width: 50px;\" src=\"https://icon-library.net/images/icon-edit/icon-edit-1.jpg\" /></a></td ></tr > "
        }
    }

    function discountSort() {
        document.getElementById("product_body").innerHTML = "";
        var products = @Html.Raw(Json.Encode(@Model.OrderBy(x => x.discount).Select(y => y)));
        for (var i = 0; i < products.length; i++) {
            document.getElementById("product_body").innerHTML += "<tr><td class=\"data\">" + products[i].type + products[i].id + "</td><td class=\"data\">" + products[i].active + "</td><td class=\"data\">" + products[i].discount + "</td><td class=\"data\">" + products[i].price + "</td><td class=\"data\"><a href=\"/EditProduct/PC?id=" + products[i].id + "\"><img style=\"max-width: 50px;\" src=\"https://icon-library.net/images/icon-edit/icon-edit-1.jpg\" /></a></td ></tr > "
        }
    }

</script>

<button class="FilterButton" onclick="activeSort()" style="margin-right:20px;">Sort by Active: </button>
<button class="FilterButton" style="margin-right:20px;" onclick="discountSort()">Sort by Disount: </button>

<button class="FilterButton" onclick="ModelSort()" style="margin-right:20px;">Sort by Model: </button>
<button class="FilterButton" style="margin-right:20px;" onclick="PriceSort()">Sort by Price: </button>
<input class="SearchFilter" style="margin-top:20px;margin-bottom:20px;" type="text" id="search" name="search" value="search" />
<button class="FilterButton" onclick="search()">Search... </button>
<br />

<table class="data">
    <thead class="data">
        <tr>
            <th class="data">Type + ID</th>
            <th class="data">Active</th>
            <th class="data">Discount</th>
            <th class="data">Price</th>
            <th class="data">Edit</th>
        </tr>
    </thead>
    <tbody id="product_body" class="data">
    </tbody>
</table>
<script>
    window.onload = ModelSort();
</script>

