
@{
    ViewBag.Title = "Edit CPU";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model CyberLlamaConsumerSite.CRUDService.cGPU

<h1 class="centerText" style="margin:10px 0px 10px 0px">Edit GPU</h1>

@using (Html.BeginForm("ChangeGPU", "EditProduct", FormMethod.Post))
{
    <div class="form-Input " style="display:none">
        <label>id:</label>
        @Html.TextBoxFor(m => m.id);
    </div>
    <div class="form-Input ">
        <label>Model:</label>
        @Html.TextBoxFor(m => m.model);
    </div>
    <div class="form-Input ">
        <label>Manufacturuer:</label>
        @Html.TextBoxFor(m => m.manufacturer);
    </div>
    <div class="form-Input ">
        <label>Brand:</label>
        @Html.TextBoxFor(m => m.brand);
    </div>
    <div class="form-Input ">
        <label>Series:</label>
        @Html.TextBoxFor(m => m.series);
    </div>
    <div class="form-Input ">
        <label>base clock speed:</label>
        @Html.TextBoxFor(m => m.base_clock);
    </div>
    <div class="form-Input ">
        <label>boost clock speed:</label>
        @Html.TextBoxFor(m => m.boost_clock);
    </div>
    <div class="form-Input ">
        <label>stream processor:</label>
        @Html.TextBoxFor(m => m.stream_proccessors);
    </div>
    <div class="form-Input ">
        <label>Memory clock:</label>
        @Html.TextBoxFor(m => m.mem_speed);
    </div>

    <div class="form-Input ">
        <label>Memory size:</label>
        @Html.TextBoxFor(m => m.mem_size);
    </div>

    <div class="form-Input ">
        <label>Memory type:</label>
        @Html.TextBoxFor(m => m.mem_type);
    </div>

    <div class="form-Input ">
        <label>Ports:</label>
        @Html.TextBoxFor(m => m.ports);
    </div>

    <div class="form-Input ">
        <label>Max-digital resolution:</label>
        @Html.TextBoxFor(m => m.max_resolution);
    </div>

    <div class="form-Input ">
        <label>vr ready:</label>
        @Html.TextBoxFor(m => m.vr_ready);
    </div>

    <div class="form-Input ">
        <label>recomended power:</label>
        @Html.TextBoxFor(m => m.recommended_psu_power);
    </div>

    <div class="form-Input ">
        <label>form factor:</label>
        @Html.TextBoxFor(m => m.form_factor);
    </div>

    <div class="form-Input ">
        <label>slot width:</label>
        @Html.TextBoxFor(m => m.slot_width);
    </div>

    <div class="form-Input ">
        <label>length:</label>
        @Html.TextBoxFor(m => m.length);
    </div>

    <div class="form-Input ">
        <label>height:</label>
        @Html.TextBoxFor(m => m.height);
    </div>


    <div class="form-Input ">
        <label>warranty:</label>
        @Html.TextBoxFor(m => m.warranty);
    </div>

    <div class="form-Input ">
        <label>Active:</label>
        @Html.TextBoxFor(m => m.active);
    </div>
    <div class="form-Input ">
        <label>Price:</label>
        @Html.TextBoxFor(m => m.price);
    </div>
    <div class="form-Input ">
        <label>Quantity:</label>
        <input type="text" name="quantity" />
    </div>
    <div class="form-Input ">
        <label>Image:</label>
        <input type="text" name="image" />
    </div>

    <p color="red" style="text-align:center">@ViewBag.status</p>
    <div class="form-Input">
        <input type="submit" value="Edit GPU" />
    </div>
}

