@{
    ViewBag.Title = "Headset";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model CyberLlamaConsumerSite.CRUDService.cHeadset

<h1 class="centerText" style="margin:10px 0px 10px 0px">Edit a Headset</h1>

@using (Html.BeginForm("ChangeHeadset", "EditProduct", FormMethod.Post))
{

    <div class="form-Input " style="display:none">
        <label>id:</label>
        @Html.TextBoxFor(m => m.id);
    </div>
    <div class="form-Input ">
        <label>Model:</label>
        @Html.TextBoxFor(m => m.model)
    </div>
    <div class="form-Input ">
        <label>Brand:</label>
        @Html.TextBoxFor(m => m.brand)
    </div>
    <div class="form-Input ">
        <label>Series:</label>
        @Html.TextBoxFor(m => m.series)
    </div>
    <div class="form-Input ">
        <label>Cable length:</label>
        @Html.TextBoxFor(m => m.cable_length)
    </div>
    <div class="form-Input ">
        <label>Connector:</label>
        @Html.TextBoxFor(m => m.connector)
    </div>
    <div class="form-Input ">
        <label>Frequency Response:</label>
        @Html.TextBoxFor(m => m.frequency_response)
    </div>
    <div class="form-Input ">
        <label>Microphone:</label>
        @Html.TextBoxFor(m => m.microphone)
    </div>
    <div class="form-Input ">
        <label>MP Frequency response:</label>
        @Html.TextBoxFor(m => m.mp_frequency_response)
    </div>
    <div class="form-Input ">
        <label>MP pickup pattern:</label>
        @Html.TextBoxFor(m => m.mp_pickup_pattern)
    </div>
    <div class="form-Input ">
        <label>MP Sensitivity:</label>
        @Html.TextBoxFor(m => m.mp_sensitivity)
    </div>
    <div class="form-Input ">
        <label>Colour :</label>
        @Html.TextBoxFor(m => m.colour)
    </div>
    <div class="form-Input ">
        <label>Wearing Style:</label>
        @Html.TextBoxFor(m => m.wearing_style)
    </div>
    <div class="form-Input ">
        <label>warranty:</label>
        @Html.TextBoxFor(m => m.warranty)
    </div>

    <div class="form-Input ">
        <label>Active:</label>
        @Html.TextBoxFor(m => m.active)
    </div>
    <div class="form-Input ">
        <label>Price:</label>
        @Html.TextBoxFor(m => m.price)
    </div>
    <div class="form-Input ">
        <label>Quantity:</label>
        <input name="quantity" id="quantity" />
    </div>
    <div class="form-Input ">
        <label>Image Link:</label>
        <input name="image" id="image" />
    </div>
    <p color="red" style="text-align:center">@ViewBag.status</p>
    <div class="form-Input ">
        <input type="submit" value="Edit headset" />
    </div>
}

