
@{
    ViewBag.Title = "Monitor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model CyberLlamaConsumerSite.CRUDService.cMonitor

<h1 class="centerText" style="margin:10px 0px 10px 0px">Edit Monitor</h1>

@using (Html.BeginForm("ChangeMonitor", "EditProduct", FormMethod.Post))
{

    <div class="row">
        <div class="col-md-6 smallMargin-top">
            <div class="borderedAddEditElement ">
                <h4 class="centerText addEditFormTitle">General</h4>
                <div class="form-Input " style="display:none">
                    <label>id:</label>
                    @Html.TextBoxFor(m => m.id);
                </div>
                <div class="form-Input " style="margin-top:30px;">
                    <label>Model:</label>
                    @Html.TextBoxFor(m => m.model)
                </div>
                <div class="form-Input ">
                    <label>Brand:</label>
                    @Html.TextBoxFor(m => m.brand)
                </div>
                <div class="form-Input ">
                    <label>Series:</label>
                    @Html.TextBoxFor(m => m.series)
                </div>
                <div class="form-Input ">
                    <label>Screen Size:</label>
                    @Html.TextBoxFor(m => m.screen_size)
                </div>
                <div class="form-Input ">
                    <label>Resolution:</label>
                    @Html.TextBoxFor(m => m.resolution)
                </div>
                <div class="form-Input ">
                    <label>warranty:</label>
                    @Html.TextBoxFor(m => m.warranty)
                </div>

                <div class="form-Input ">
                    <label>Active:</label>
                    @Html.TextBoxFor(m => m.active)
                </div>
                <div class="form-Input ">
                    <label>Price:</label>
                    @Html.TextBoxFor(m => m.price)
                </div>
                <div class="form-Input ">
                    <label>Quantity:</label>
                    <input name="quantity" id="quantity" />
                </div>
                <div class="form-Input ">
                    <label>Image Link:</label>
                    <input name="image" id="image" />
                </div>
            </div>
        </div>
        <div class="col-md-6 smallMargin-top">
            <div class="borderedAddEditElement ">
                <h4 class="centerText addEditFormTitle">Additional</h4>
                <div class="form-Input " style="margin-top:30px;">
                    <label>Screen Ratio:</label>
                    @Html.TextBoxFor(m => m.screen_ratio)
                </div>
                <div class="form-Input ">
                    <label>Screen Brightness:</label>
                    @Html.TextBoxFor(m => m.brightness)
                </div>
                <div class="form-Input ">
                    <label>Contrast Ratio:</label>
                    @Html.TextBoxFor(m => m.contrast_ratio)
                </div>
                <div class="form-Input ">
                    <label>Viewing angle:</label>
                    @Html.TextBoxFor(m => m.viewing_angle)
                </div>
                <div class="form-Input ">
                    <label>Response time:</label>
                    @Html.TextBoxFor(m => m.response_time)
                </div>
                <div class="form-Input ">
                    <label>Panel Type:</label>
                    @Html.TextBoxFor(m => m.panel_type)
                </div>
                <div class="form-Input ">
                    <label>Refresh rate:</label>
                    @Html.TextBoxFor(m => m.refresh_rate)
                </div>
                <div class="form-Input ">
                    <label>Colours:</label>
                    @Html.TextBoxFor(m => m.colours)
                </div>
                <div class="form-Input ">
                    <label>Dislplay port input:</label>
                    @Html.TextBoxFor(m => m.display_port)
                </div>
                <div class="form-Input ">
                    <label>HDMI:</label>
                    @Html.TextBoxFor(m => m.hdmi)
                </div>


                <div class="form-Input ">
                    <label>VGA:</label>
                    @Html.TextBoxFor(m => m.vga)
                </div>
                <div class="form-Input ">
                    <label>Speaker:</label>
                    @Html.TextBoxFor(m => m.speakers)
                </div>
                <div class="form-Input ">
                    <label>Swivel:</label>
                    @Html.TextBoxFor(m => m.swivel)
                </div>
                <div class="form-Input ">
                    <label>Tilt:</label>
                    @Html.TextBoxFor(m => m.tilt)
                </div>
                <div class="form-Input ">
                    <label>Pivot:</label>
                    @Html.TextBoxFor(m => m.pivot)
                </div>
            </div>
        </div>
    </div>
    <p color="red" style="text-align:center">@ViewBag.status</p>
    <div class="form-Input ">
        <input class="AddEditButton centerImage" type="submit" value="Edit Monitor" />
    </div>
}

