
@{
    ViewBag.Title = "View Employe Details";
}
@model CyberLlamaConsumerSite.Models.ViewModels.Employees

<h2 class="titleText">Employees</h2>
<hr width="50%" color="purple" />

<table class="data">
    <thead class="data">
        <tr>
            <th class="data">Employee ID</th>
            <th class="data">Position</th>
            <th class="data">First Name</th>
            <th class="data">Surname</th>
            <th class="data">E-Mail</th>
            <th class="data">Phone Number</th>
        </tr> 
    </thead>
    <tbody class="data">
        @foreach (var employee in Model.listEmployees)
        {
            <tr>
                <td class="data">@employee.Admin_ID</td>
                <td class="data">@employee.Position</td>
                <td class="data">@employee.First_Name</td>
                <td class="data">@employee.Surname</td>
                <td class="data">@employee.Email</td>
                <td class="data">@employee.Conrtact_Number</td>
            </tr>
        }  
        </tbody>
    <tfoot>

    </tfoot>
</table>

